.ReviewCard {
  box-sizing: border-box;
  background-color: #128c1725;
  width: 95%;
  height: fit-content;
  margin-top: 7px;
  border-radius: 10px;

  .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .upper-left {
    padding-top: 6px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    color: black;
    margin-top: 1px;
    margin-bottom: 1px;
    /* margin-top: 3px;
    margin-left: 5px; */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }

  .category {
    font-weight: 600;
    color: #128c17;
    margin-top: 1px;
    margin-bottom: 4px;
    font-size: 16px;
    border: 1px;
    border-style: solid;
    width: fit-content;
    padding-left: 4px;
    padding-right: 4px;
    font-family: "Roboto", sans-serif;
  }

  .release_date {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #128c17;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 14px;
    margin-left: 1px;
  }

  .cover_image-container {
    box-sizing: border-box;
    max-height: 140px;
    min-width: 118px;
    width: 118px;
    padding-top: 6px;
    padding-right: 6px;
    /* padding: 2px; */
    text-align: right;
  }

  .cover_image {
    box-sizing: border-box;
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .lower {
    padding-left: 6px;
    padding-right: 6px;
    .review_intro {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
    }
  }
}
